<form action="/restaurants/{{restaurant._id}}?_method=PUT" method="POST" style="width: 80%" class="form-block">
  <div class="form-group pl-5 mt-3 mb-3">
    <label for="name">Name: </label>
    <input type="text" class="form-control ml-2" placeholder="{{restaurant.name}}" name="name"
      value="{{restaurant.name}}">
  </div>
  <div class="form-group pl-5 mt-3 mb-3">
    <label for="name_en">English Name: </label>
    <input type="text" class="form-control ml-2" placeholder="{{restaurant.name_en}}" name="name_en"
      value="{{restaurant.name_en}}">
  </div>
  <div class="form-group pl-5 mt-3 mb-3">
    <label for="category">Category: </label>
    <input type="text" class="form-control ml-2" placeholder="{{restaurant.category}}" name="category"
      value="{{restaurant.category}}">
  </div>
  <div class="form-group pl-5 mt-3 mb-3">
    <label for="image">Image URL: </label>
    <input type="text" class="form-control ml-2" placeholder="{{restaurant.image}}" name="image"
      value="{{restaurant.image}}">
  </div>
  <div class="form-group pl-5 mt-3 mb-3">
    <label for="location">Location: </label>
    <input type="text" class="form-control ml-2" placeholder="{{restaurant.location}}" name="location"
      value="{{restaurant.location}}">
  </div>
  <div class="form-group pl-5 mt-3 mb-3">
    <label for="phone">Phone: </label>
    <input type="text" class="form-control ml-2" placeholder="{{restaurant.phone}}" name="phone"
      value="{{restaurant.phone}}">
  </div>
  <div class="form-group pl-5 mt-3 mb-3">
    <label for="google_map">Google Map: </label>
    <input type="text" class="form-control ml-2" placeholder="{{restaurant.google_map}}" name="google_map"
      value="{{restaurant.google_map}}">
  </div>
  <div class="form-group pl-5 mt-3 mb-3">
    <label for="rating">Rating: </label>
    <input type="number" min=0 max=5 step="0.1" class="form-control ml-2" placeholder="{{restaurant.rating}}"
      name="rating" value="{{restaurant.rating}}">
  </div>
  <div class="form-group pl-5 mt-3 mb-3">
    <label for="description">Description: </label>
    <input type="text" class="form-control ml-2" placeholder="{{restaurant.description}}" name="description"
      value="{{restaurant.description}}">
  </div>
  <button type="submit" class="btn btn-primary ml-5 mt-1">Save</button>
</form>